@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Work Sans", sans-serif;
}

body {
  overflow-x: hidden;
  background-color: hsl(275, 100%, 97%);
  height: 100vh;
}
/* 1st background */
.background-pattern-desktop-top {
  background-size: 100vw;
  height: 40vh;
  background-repeat: no-repeat;
  background-image: url("/assets/images/background-pattern-desktop.svg");
}

@media (max-width: 600px) {
  .background-pattern-desktop-top {
    background-image: url("/assets/images/background-pattern-mobile.svg");
  }
}

/* border-centerbox */
.sec-box-design {
  background-color: hsl(0, 0%, 100%);
  /* border: 1px solid black; */
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  max-width: 600px;
  padding: 1.5rem;
  margin-inline: auto;
  gap: 28px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* Media Queries */
@media (max-width: 600px) {
  .sec-box-design {
    top: 50%;
  }
}

.center-box-design {
  display: flex;
  gap: 1rem;
  justify-content: left;
  /* padding: 2rem; */
}
.center-box-design img {
  width: 35px;
}
.center-box-design h1 {
  font-size: 50px;
  color: hsl(292, 42%, 14%);
}
.sec-box-design2 {
  display: flex;
  gap: 9%;
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: hsl(292, 42%, 14%);
  font-weight: 600;
  font-size: 19px;
}
.text-per-section:hover {
  color: hsl(293, 77%, 61%);
  cursor: pointer;
}
.sec-box-design2 img {
  width: 28px;
}

.pa-ra-grah {
  color: hsl(292, 16%, 49%);
  font-size: 1rem;
}
.text-per-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* font-weight: 600; */
  font-size: 1rem;
}

hr {
  display: block;
  height: 0.2px;
  border: 0;
  border-top: 1px solid #f5efef;
}
